@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400&display=swap');

/** RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#191919;
}
body{
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}
.header
{
    padding: 2rem;
}
.heading-1
{
font-size: 3rem;
color: #fafafa;
}
